@use "../../styles/mixins" as *;
@use "../../styles/fonts" as *;

.form {
    @include flex-start($direction: column);
    padding: 215px 120px;
    gap: 16px;
    width: 100%;
    height: 100%;
    justify-content: center;

    .formText {
        @include flex-start($direction: column);
        gap: 16px;
        margin-bottom: 40px;

        h1 {
            font-family: $avenir;
            font-weight: 700;
            font-size: 40px;
            line-height: 100%;
            letter-spacing: -4%;
            color: #213F7D;
        }

        p {
            font-family: $avenir;
            font-weight: 400;
            font-size: 20px;
            line-height: 100%;
            letter-spacing: 0%;
            color: #545F7D;

        }
    }

    .errorMessage {
        font-family: $avenir;
        font-weight: 400;
        font-size: 14px;
        line-height: 100%;
        letter-spacing: 0%;
        color: #E4033B;
        align-self: center;
    }

    label {
        width: 100%;
        @include flex-start($direction: column);
        gap: 8px;
        position: relative;
        font-family: $avenir;
        font-weight: 500;
        font-size: 14px;
        line-height: 100%;
        letter-spacing: 0%;
        color: #213F7D;

        input {
            width: 100%;
            border: 2px solid #545F7D26;
            border-radius: 5px;
            padding: 12px 16px;
            background: #FFFFFF;
            font-family: $avenir;
            font-weight: 400;
            font-size: 16px;
            line-height: 100%;
            letter-spacing: 0%;
            color: #545F7D;
            outline: none;

            &::placeholder {
                font-family: $avenir;
                font-weight: 400;
                font-size: 14px;
                line-height: 100%;
                letter-spacing: 0%;
                color: #545F7D;
                outline: none;
            }
        }

        input:focus {
            border-color: #39CDCC;
            background: transparent;
        }

        .errorText {
            font-family: $avenir;
            font-weight: 400;
            font-size: 12px;
            line-height: 100%;
            letter-spacing: 0%;
            color: #E4033B;
            margin-top: -4px;
        }

        span {
            border: none;
            background: transparent;
            font-family: $avenir;
            color: #39CDCC;
            font-weight: 600;
            font-size: 12px;
            line-height: 100%;
            letter-spacing: 10%;
            text-align: center;
            text-transform: uppercase;
            position: absolute;
            right: 5%;
            top: 50%;
            transform: translateY(-50%);
            cursor: pointer;
        }
    }

    a {
        font-family: $avenir;
        font-weight: 600;
        font-size: 12px;
        line-height: 100%;
        letter-spacing: 10%;
        text-align: right;
        text-transform: uppercase;
        color: #39CDCC;
    }

    .signupButton {
        width: 100%;
        background: #39CDCC;
        height: 48px;
        padding: 12px 24px;
        border-radius: 8px;
        font-family: $avenir;
        font-weight: 600;
        font-size: 14px;
        line-height: 100%;
        letter-spacing: 10%;
        text-align: center;
        text-transform: uppercase;
        color: #FFFFFF;
        border: none;
        cursor: pointer;
    }

    .signinLink {
        font-family: $avenir;
        font-weight: 400;
        font-size: 14px;
        line-height: 100%;
        letter-spacing: 0%;
        color: #545F7D;

        a {
            font-family: $avenir;
            font-weight: 600;
            color: #39CDCC;
            text-decoration: none;
        }
    }
}

@include mobile {
    .form {
        width: 100%;
        padding: 0;
        margin-top: 5dvh;
        justify-content: flex-start;

        .formText {
            width: 100%;
            margin-bottom: 0;

            h1 {
                font-size: 24px;
            }

            p {
                font-size: 16px;
            }
        }

        label {
            input {
                padding: 8px 16px;
            }
        }
    }
}