@use "../../styles/mixins" as *;
@use "../../styles/fonts" as *;

.details {
    width: 100%;
    height: 100%;
    @include flex-start($direction: column);
    gap: 24px;
    padding: 16px 24px;
    border: 1px solid rgba(33, 63, 125, 0.06);
    box-shadow: 3px 5px 20px 0px rgba(0, 0, 0, 0.04);
    border-radius: 4px;
    overflow: auto;

    .personalInformations,
    .educationEmployment,
    .socials,
    .guarantor {
        width: 100%;
        @include flex-start($direction: column);
        gap: 24px;
        border-bottom: rgba(33, 63, 125, 0.1) 1px solid;
        padding-bottom: 16px;


        .headerText {
            font-family: $work;
            font-weight: 500;
            font-size: 16px;
            line-height: 100%;
            letter-spacing: 0px;
            color: $tertiary-color;
        }

        .informations {
            width: 100%;
            display: grid;
            grid-template-columns: repeat(5, minmax(0, 1fr));
            grid-template-rows: repeat(1, minmax(0, 1fr));
            column-gap: 24px;
            row-gap: 16px;

            .info {
                @include flex-start($direction: column);
                gap: 8px;

                p {
                    font-family: $work;
                    font-weight: 400;
                    font-size: 12px;
                    line-height: 100%;
                    letter-spacing: 0px;
                    text-transform: uppercase;
                    color: $primary-color;
                }

                h4 {
                    font-family: $work;
                    font-weight: 500;
                    line-height: 100%;
                    letter-spacing: 0px;
                    color: $primary-color;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    width: 100%;
                }
            }
        }
    }
}