@use "../../styles/mixins" as *;
@use "../../styles/fonts" as *;

.form {
    @include flex-start($direction: column);
    padding: 215px 120px;
    gap: 16px;
    width: 100%;
    height: 100%;
    justify-content: center;

    .formText {
        @include flex-start($direction: column);
        gap: 16px;
        margin-bottom: 40px;

        h1 {
            font-family: $avenir;
            font-weight: 700;
            font-size: 40px;
            line-height: 100%;
            letter-spacing: -4%;
            color: $tertiary-color;
        }

        p {
            font-family: $avenir;
            font-weight: 400;
            font-size: 20px;
            line-height: 100%;
            letter-spacing: 0%;
            color: $primary-color;

        }
    }

    .errorMessage {
        font-family: $avenir;
        font-weight: 400;
        font-size: 14px;
        line-height: 100%;
        letter-spacing: 0%;
        color: $danger;
        align-self: center;
    }

    .labelItem {
        width: 100%;
        @include flex-start($direction: column);
        gap: 8px;
        font-family: $avenir;
        font-weight: 500;
        font-size: 14px;
        line-height: 100%;
        letter-spacing: 0%;
        color: $tertiary-color;

        input {
            width: 100%;
            border: 2px solid $primary-color;
            border-radius: 5px;
            padding: 12px 16px;
            background: #FFFFFF;
            font-family: $avenir;
            font-weight: 400;
            font-size: 16px;
            line-height: 100%;
            letter-spacing: 0%;
            color: $primary-color;
            outline: none;

            &::placeholder {
                font-family: $avenir;
                font-weight: 400;
                font-size: 14px;
                line-height: 100%;
                letter-spacing: 0%;
                color: $primary-color;
                outline: none;
            }
        }

        input:focus {
            border-color: $secondary-color;
            background: transparent;
        }

        .errorText {
            font-family: $avenir;
            font-weight: 400;
            font-size: 12px;
            line-height: 100%;
            letter-spacing: 0%;
            color: $danger;
            margin-top: -4px;
        }

        span {
            border: none;
            background: transparent;
            font-family: $avenir;
            color: $secondary-color;
            font-weight: 600;
            font-size: 12px;
            line-height: 100%;
            letter-spacing: 10%;
            text-align: center;
            text-transform: uppercase;
            position: absolute;
            right: 5%;
            top: 50%;
            transform: translateY(-50%);
            cursor: pointer;
        }
    }

    .showPassword {
        @include flex-start;
        width: 100%;
        justify-content: flex-start;
        align-items: center;
        gap: 8px;
        font-size: 14px;
        cursor: pointer;
        font-family: $avenir;
        font-weight: 500;
        font-size: 14px;
        line-height: 100%;
        letter-spacing: 0%;
        color: $tertiary-color;
    }

    input[type="checkbox"] {
        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;

        width: 16px;
        height: 16px;
        padding: 2px;
        border-radius: 4px;
        border: 1px solid var(--Foundation-Grey-grey-100, #D8D8D8);
        background: transparent;
        cursor: pointer;
        display: inline-block;
        position: relative;
        transition: all 0.3s ease-in;
    }

    input[type="checkbox"]:checked {
        background: $tertiary-color;
        border-color: $tertiary-color;
        padding: 2px;
    }


    a {
        font-family: $avenir;
        font-weight: 600;
        font-size: 12px;
        line-height: 100%;
        letter-spacing: 10%;
        text-align: right;
        text-transform: uppercase;
        color: $secondary-color;
    }

    .resetButton {
        width: 100%;
        background: $secondary-color;
        height: 48px;
        padding: 12px 24px;
        border-radius: 8px;
        font-family: $avenir;
        font-weight: 600;
        font-size: 14px;
        line-height: 100%;
        letter-spacing: 10%;
        text-align: center;
        text-transform: uppercase;
        color: #FFFFFF;
        border: none;
        cursor: pointer;
    }

    .signinLink {
        font-family: $avenir;
        font-weight: 400;
        font-size: 14px;
        line-height: 100%;
        letter-spacing: 0%;
        color: $primary-color;

        a {
            font-family: $avenir;
            font-weight: 600;
            color: $secondary-color;
            text-decoration: none;
        }
    }
}

@include mobile {
    .form {
        width: 100%;
        padding: 0px;
        margin-top: 5dvh;
        justify-content: flex-start;

        .formText {
            width: 100%;
            margin-bottom: 0;

            h1 {
                font-size: 24px;
            }

            p {
                font-size: 16px;
            }
        }

        label {
            input {
                padding: 8px 16px;
            }
        }
    }
}