@use "../../../../styles/mixins" as *;
@use "../../../../styles/fonts" as *;

.userPage {
    width: 100%;
    @include flex-start($direction: column);
    gap: 16px;

    .goBackLink {
        @include flex-start;
        align-items: center;
        gap: 8px;

        span {
            font-family: $work;
            color: $primary-color;
            font-weight: 400;
            font-size: 14px;
            line-height: 100%;
            letter-spacing: 0px;
        }
    }

    .pageHeader {
        width: 100%;
        @include flex-start;
        align-items: center;
        justify-content: space-between;

        h1 {
            color: $primary-color;
            font-family: $work;
            font-weight: 500;
            font-size: 20px;
            line-height: 100%;
            letter-spacing: 0px;
        }

        .actionButtons {
            @include flex-start;
            align-items: center;
            gap: 12px;

            button {
                width: 150;
                height: 40;
                opacity: 1;
                border-radius: 8px;
                cursor: pointer;
                font-family: $work;
                font-weight: 600;
                font-size: 12px;
                line-height: 100%;
                letter-spacing: 10%;
                text-align: center;
                text-transform: uppercase;

            }

            .activate {
                border: $secondary-color 1px solid;
                background: $white;
                color: $secondary-color;
            }

            .active {
                border: $white 1px solid;
                background-color: $secondary-color;
                color: $white;
                cursor: not-allowed;
            }

            .blacklist {
                border: $danger 1px solid;
                background-color: $white;
                color: $danger;
            }

            .blacklisted {
                border: $white 1px solid;
                background: $danger;
                color: $white;
                cursor: not-allowed;
            }
        }
    }

    .userPersonalDetails {
        width: 100%;
        background-color: $white;
        border: 1px solid #213F7D0F;
        box-shadow: 3px 5px 20px 0px #0000000A;
        @include flex-start($direction: column);
        gap: 32px;
        padding: 20px 20px 0 20px;


        .detailsSection {
            width: 100%;
            @include flex-start;
            align-items: center;

            gap: 24px;

            .userAvatar {
                @include flex-center;
                width: 75px;
                height: 75px;
                background: rgba(33, 63, 125, 0.16);
                border-radius: 100%;
            }

            .userFullName {
                @include flex-start($direction: column);
                gap: 4px;

                h4 {
                    color: $tertiary-color;
                    font-family: $work;
                    font-weight: 500;
                    font-size: 20px;
                    line-height: 100%;
                    letter-spacing: 0px;
                }

                p {
                    color: $primary-color;
                    font-family: $work;
                    font-weight: 400;
                    font-size: 12px;
                    line-height: 100%;
                    letter-spacing: 0px;

                }
            }

            .userTier {
                @include flex-start($direction: column);
                gap: 8px;
                border-left: rgba(84, 95, 125, 0.2) 1px solid;
                border-right: rgba(84, 95, 125, 0.2) 1px solid;
                padding: 16px 24px;

                p {
                    color: $primary-color;
                    font-family: $work;
                    font-weight: 500;
                    font-size: 14px;
                    line-height: 100%;
                    letter-spacing: 0px;

                }
            }

            .userAccountDetails {
                @include flex-start($direction: column);
                gap: 8px;

                h2 {
                    color: $tertiary-color;
                    font-family: $work;
                    font-weight: 500;
                    font-size: 20px;
                    line-height: 100%;
                    letter-spacing: 0px;

                }

                p {
                    color: $tertiary-color;
                    font-family: $work;
                    font-weight: 400;
                    font-size: 12px;
                    line-height: 100%;
                    letter-spacing: 0px;

                }
            }
        }

        .pageTabs {
            width: 100%;
            @include flex-start;
            align-items: center;
            justify-content: space-between;

            .pageTab {
                background-color: $white;
                border: none;
                font-family: $work;
                font-weight: 400;
                font-size: 16px;
                line-height: 100%;
                letter-spacing: 0%;
                text-align: center;
                padding: 8px 24px;
                color: #000000CC;
                cursor: pointer;
            }

            .activeTab {
                border-bottom: $secondary-color 2px solid;
                color: $secondary-color;
            }
        }
    }

    .tabContent {
        width: 100%;
        height: 47dvh;
        margin-top: 1dvh;
    }
}