@use "../styles/fonts" as *;
@use "../styles/mixins" as *;

.page {
  background: #FFF;
}

.notFound, .page {
  width: 100%;
  height: 100dvh;
  @include flex-start($direction: column);
  justify-content: center;
  align-items: center;
  gap: 16px;

  h1 {
    font-size: 32px;
    font-family: $avenir;
    color: $secondary-color;
    font-weight: 700;
  }

  p {
    font-size: 24px;
    font-family: $work;
    font-weight: 400;
    color: $secondary-color;
  }

  button {
    padding: 12px 24px;
    cursor: pointer;
    @include flex-center;
    font-size: 16px;
    font-family: $work;
    font-weight: 600;
    color: $white;
    background-color: $secondary-color;
    border-radius: 8px;
    border: none;
  }
}