@use "../../styles/mixins" as *;
@use "../../styles/fonts" as *;


.userTable {
    width: 100%;
    height: 55dvh;
    @include flex-start($direction: column);
    overflow: hidden;

    .tableWrapper {
        width: 100%;
        border: 1px solid #213F7D0F;
        border-radius: 8px;
        overflow-x: auto;
        background: #fff;
        padding: 0 24px;
    }

    .table {
        width: 100%;
        border-collapse: collapse;
        table-layout: fixed;
    }


    .tableHead {
        th {
            width: calc(100% / 6);
            padding: 16px;
            text-align: left;
            white-space: nowrap;

            h4 {
                display: inline-block;
                font-family: $work;
                margin-right: 8px;
                font-size: 12px;
                font-weight: 600;
                color: $primary-color;
                text-transform: uppercase;
            }

            svg {
                vertical-align: middle;
                cursor: pointer;
            }
        }
    }


    .tableBody {

        td {
            width: calc(100% / 6);
            padding: 16px 0;
            font-family: $work;
            font-size: 14px;
            color: $primary-color;
            border-top: 1px solid #E5E7EB;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        .userStatus {
            position: relative;
        }

        .status {
            padding: 6px 12px;
            border-radius: 100px;
            font-size: 12px;
            font-weight: 500;
        }

        .Active {
            background: rgba(57, 205, 98, 0.1);
            color: #39cd62;
        }

        .Inactive {
            background: rgba(84, 95, 125, 0.1);
            color: $primary-color;
        }

        .Blacklisted {
            background: rgba(228, 3, 59, 0.1);
            color: #e4033b;
        }

        .Pending {
            background: rgba(233, 178, 0, 0.1);
            color: rgba(233, 178, 0, 1);
        }

        .threeDots {
            position: absolute;
            right: 0;
            top: 50%;
            transform: translateY(-50%);
            @include flex-center;
            width: 32px;
            height: 32px;
            border-radius: 100%;
            cursor: pointer;

            &:hover {
                background: #F9FAFB
            }
        }

        .actionMenu {
            width: 10%;
            position: absolute;
            @include flex-start($direction: column);
            right: 5%;
            background: #FFF;
            box-shadow: 3px 0px 20px 0px #0000000A;
            border-radius: 0 0 8px 8px;
            z-index: 10;
            padding: 0;

            button {
                @include flex-center;
                gap: 16px;
                width: 100%;
                color: $primary-color;
                font-family: $work;
                font-weight: 500;
                font-size: 14px;
                line-height: 100%;
                letter-spacing: 0%;
                padding: 16px 24px;
                background-color: transparent;
                border: none;
                cursor: pointer;

                &:hover {
                    background: #F9FAFB
                }
            }
        }
    }
}