@use "../../styles/mixins" as *;
@use "../../styles/fonts" as *;

.navbar {
    width: 100%;
    box-shadow: 3px 0px 20px 0px #0000000A;
    background: #FFFFFF;
    height: 100px;
    @include flex-start;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 10;

    .navLogo {
        width: 20%;
        padding: 0 32px;
        @include flex-start;
        align-items: center;
    }

    .navItems {
        width: 80%;
        @include flex-start;
        justify-content: space-between;
        align-items: center;
        padding: 0 32px;

        .inputWrapper {
            @include flex-start;
            justify-content: space-between;
            align-items: center;
            border: 1px solid rgba(33, 63, 125, 0.2);
            height: 40px;
            width: 35%;
            border-radius: 8px;
            overflow: hidden;

            input {
                border: none;
                outline: none;
                width: 85%;
                height: 100%;
                padding-left: 16px;
                font-family: $work;
                font-weight: 400;
                font-size: 14px;
                line-height: 100%;
                letter-spacing: 0px;
                color: #545F7D;
                background: transparent;
            }

            button {
                width: 15%;
                height: 100%;
                background: #39CDCC;
                border: none;
                @include flex-center;
                cursor: pointer;
            }
        }

        .userActions {
            @include flex-start;
            align-items: center;
            gap: 32px;

            .docsLink {
                font-family: $work;
                font-weight: 400;
                font-size: 16px;
                line-height: 100%;
                letter-spacing: 0%;
                text-decoration: underline;
                text-decoration-style: solid;
                text-decoration-thickness: 0%;
                color: $tertiary-color;
            }

            .userInfo {
                @include flex-start;
                align-items: center;
                gap: 16px;

                .avatarWrapper {
                    width: 48px;
                    height: 48px;
                    border-radius: 50%;
                    overflow: hidden;
                    position: relative;

                    .userAvatar {
                        object-fit: cover;
                    }
                }
            }

            .userName {
                @include flex-start;
                font-family: $work;
                font-weight: 500;
                font-size: 16px;
                line-height: 100%;
                letter-spacing: 0px;
                color: $tertiary-color;
                gap: 8px;
                cursor: pointer;
            }
        }
    }

    .dropdown {
        position: absolute;
        right: 0;
        top: 100px;
        @include flex-start($direction: column);
        border-radius: 0 0 8px 8px;
        box-shadow: 3px 0px 20px 0px #0000000A;
        background: #FFFFFF;
        width: 15%;

        span {
            cursor: pointer;
            font-family: Work Sans;
            font-weight: 400;
            font-size: 16px;
            line-height: 100%;
            letter-spacing: 0px;
            color: $tertiary-color;
            opacity: 0.6;
            padding: 12px 24px;
            width: 100%;

            &:hover {
                background: rgba(33, 63, 125, 0.2);
                opacity: 1;
            }
        }
    }
}