@use "../../../styles/mixins" as *;
@use "../../../styles/fonts" as *;

.main {
    @include flex-start($direction: column);
    width: 100%;
    height: 100%;
    padding: 24px 0;
    gap: 32px;
    

    h1 {
        font-family: $work;
        font-weight: 500;
        font-size: 24px;
        line-height: 100%;
        letter-spacing: 0px;
        color: #213F7D;
        padding-top: 20px;
    }

    .usersDataCards {
        display: grid;
        width: 100%;
        grid-template-columns: repeat(4, minmax(0, 1fr));
        grid-template-rows: repeat(1, minmax(0, 1fr));
        column-gap: 24px;

        .card {
            @include flex-start($direction: column);
            background: #FFFFFF;
            box-shadow: 3px 5px 20px 0px #0000000A;
            border-radius: 4px;
            border: 1px solid #213F7D0F;
            padding: 24px 32px;
            gap: 16px;
            width: 100%;

            .iconWrapper {
                @include flex-center;
                width: 40px;
                height: 40px;
                background: rgba(223, 24, 255, 0.1);
                border-radius: 100%;
            }

            p {
                font-family: $work;
                font-weight: 500;
                font-size: 14px;
                line-height: 100%;
                letter-spacing: 0%;
                text-transform: uppercase;
                color: rgba(84, 95, 125, 1);
            }

            h4 {
                font-family: $work;
                font-weight: 600;
                font-size: 24px;
                line-height: 100%;
                letter-spacing: 0%;
                text-transform: uppercase;
                color: rgba(33, 63, 125, 1);
            }
        }
    }
}